body {
    margin: 0;
    color-scheme: light dark;
}

.app-container {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-block: 2rem;
    padding-inline: 5rem;
}

.main {
    width: 60rem;
    resize: horizontal;
    overflow-x: scroll;
}

.sidebar {
    overflow-x: scroll;
}

table {
    width: 100%;
}

td, th {
    border: 1px solid black;
    padding: 4px;
}

tr:nth-child(even) {
    background-color:gainsboro;
}

tr.selected {
    background-color: lightblue;
}
