<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ItchIoViewer</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='popup.css') }}>
    <script src={{ url_for('static', filename='globals.js')}} type="module"></script>
    <script src={{ url_for('static', filename='app.js')}} type="module"></script>
</head>
<body>
    <div class="app-container">
        <fieldset class="main" id="main">
            <legend>ItchIoViewer</legend>
            <p id="status">Showing full game table.</p>
            <fieldset>
                <legend>Tools</legend>
                    <button id="add-game">Add Game</button>
                    <button id="add-itchio">Add ItchIo Link</button>
                    <button id="filter">Filter Games</button>
                    <button id="clear-filter">Clear Filter</button>
            </fieldset>
    
            <table id="table">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>rating</th>
                    <th>developer(s)</th>
                </tr>
    
            </table>
        </fieldset>
    
        <fieldset class="sidebar">
            <legend>Info</legend>
            <div id="info-placeholder"><p>[ This panel is intentionally left blank. ]</p></div>
            <div id="game-info" hidden>
                <p>{0}</p>
                <p>Rating: {1} / 5</p>
                <p>Genre: {2}</p>
                <p style="display: flex; flex-wrap: wrap; gap: 0 0.25rem">Developer(s): {3}</p>
                <p>Publisher(s): {4}</p>
                <a href="{5}">{5}</a>
                <p>Tag(s): {6}</p>

                <fieldset>
                    <legend>Options</legend>
                    <button data-gid="{7}" id="tag-game">Add Tag</button>
                    <button data-gid="{7}" id="edit-game">Edit Game</button>
                    <button data-gid="{7}" id="edit-developer">Register Developer</button>
                    <button type="button" data-gid="{7}" id="delete-game">Delete Game</button>
                </fieldset>

            </div>
        </fieldset>
    </div>
</body>
</html>