<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ItchIoViewer</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
</head>
<body>
    <div class="app-container">
        <fieldset class="main">
            <legend>ItchIoViewer</legend>
            <form class="form" method="post">
                <fieldset>
                    <legend>Create Row</legend>
                    <input type="text" id="name" name="name" placeholder="z?Game"/>
                    <input type="number" step="0.1" id="rating" name="rating" placeholder="5"/>
                    <input type="text" id="developer" name="developer" placeholder="Threehalves"/>
                    <input type="text" id="publisher" name="publisher" placeholder="none"/>
                    <input type="text" id="genre" name="genre" placeholder="Platformer"/>
                    <input type="text" id="store_links" name="store_links" placeholder="threehalves.itch.io/zgame"/>

                    <button type="submit">go</button>
                </fieldset>
            </form>
    
            <form class="form" method="post" action="{{ url_for('update') }}">
                <fieldset>
                    <legend>Update Row</legend>
                    <input type="number" id="id" name="id"/>
                    <input type="text" id="name" name="name" />
                    <input type="text" id="developer" name="developer"/>
                    <button type="submit">go</button>
                </fieldset>
            </form>
    
            <form class="form" method="post" action="{{ url_for('delete') }}">
                <fieldset>
                    <legend>Delete Row</legend>
                    <input type="number" id="id" name="id"/>
                    <button type="submit">go</button>
                </fieldset>
            </form>
    
            <table id="table">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>rating</th>
                    <th>developer</th>
                </tr>
    
            </table>
        </fieldset>
    
        <fieldset class="sidebar">
            <legend>Info</legend>
            <div id="game-info">
                <p>{0}</p>
                <p>{1}</p>
                <p>{2}</p>
                <p>{3}</p>
                <p>{4}</p>
                <p>{5}</p>
                <p>{6}</p>
                <p>{7}</p>
                
            </div>
        </fieldset>
    </div>
</body>
<script>
    const ROOT_URL = "/"
    formButtons = Array.from(document.getElementsByClassName("form"));
    formButtons.forEach((element) => element.addEventListener('submit', handleSubmit));

    const tableRef = document.getElementById("table");
    const tableBase = tableRef.innerHTML;
    let selectedRow = null;

    class UI {
        // htmelement as string with placeholders defined with curly braces
        constructor(template) {
            this.template = template;
            this.render = this.render.bind(this);
            this.format = this.format.bind(this);
        }
    
        // render template with parameters and return innerhtml string
        render(params) {
            return this.template.format(params);
        }
    
        format() {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function(match, number) { 
              return typeof args[number] != 'undefined'
                ? args[number]
                : match
              ;
            });
          };
    }

    String.prototype.format = String.prototype.format ||
    function () {
        "use strict";
        var str = this.toString();
        if (arguments.length) {
            var t = typeof arguments[0];
            var key;
            var args = ("string" === t || "number" === t) ?
                Array.prototype.slice.call(arguments)
                : arguments[0];

            for (key in args) {
                str = str.replace(new RegExp("\\{" + key + "\\}", "gi"), args[key]);
            }
        }

        return str;
    };

    let sidebarRef = document.getElementById("game-info");
    let sidebarUI = new UI(document.getElementById("game-info").innerHTML);

    // initial render
    render();

    function handleSubmit(event) { 
        let data = new FormData() 
        // get form values
        Array.from(event.srcElement.elements).forEach((element) => {
            if (element.tagName.toLowerCase() == "input") {
                // console.log(element.name + " : " + element.value)
                data.append(element.name, element.value);
            }
        });

        // make fetch call
        fetch(event.srcElement.action == null ? ROOT_URL : event.srcElement.action, {
            "method": "POST",
            "body": data,
        })
        .then(render)

        event.preventDefault();
    }

    function selectRow(row) {
        if (selectedRow != null) deselectRow(selectedRow);    
        selectedRow = row;
        selectedRow.classList.add("selected");

        // get clicked row
        fetch(ROOT_URL + `api/game/${row.children[0].innerHTML}`)
        .then(response => response.json())
        .then((data) => {
            sidebarRef.innerHTML = sidebarUI.render(data.slice(1));
        });
    }

    function deselectRow(row) {
        row.classList.remove("selected");
        selectedRow = null;
    }

    // re-render the games table
    function render() {
        // console.log("render");
        
        tableRef.innerHTML = tableBase;

        fetch(ROOT_URL + "api/games")
        .then(response => response.json())
        .then((data) => {
            // console.log(data);
            for (const entry of data) {
                // create row in table for each game
                var tr = document.createElement("tr");

                // click event
                tr.addEventListener("click", function (e) {
                    selectRow(this);
                });

                for (var i = 0; i < 4; i++) {
                    var td = document.createElement("td");
                    console.log(entry);
                    td.innerHTML = entry[i];
                    tr.appendChild(td);
                }

                tableRef.appendChild(tr);
            }
        
        });

    }
</script>
</html>